<!DOCTYPE html>
<html>
<head>
    <title>Proekt</title>
</head>
<body>
    <h1>Sistem za registracija na vozila</h1>
    <p>Click <a href="{{ url_for('display_table') }}">here</a> to view the registrations table.</p>
<p>Click <a href="{{ url_for('display_table2') }}">here</a> to view the technical check table.</p>
<p>Click <a href="{{ url_for('display_table3') }}">here</a> to view the employees table.</p>
<p>Click <a href="{{ url_for('display_table4') }}">here</a> to view the vehicle table.</p>
<p>Click <a href="{{ url_for('display_table5') }}">here</a> to view the company table.</p>
<p>Click <a href="{{ url_for('display_table6') }}">here</a> to view the person table.</p>
<p>Click <a href="{{ url_for('display_table7') }}">here</a> to view the Annual number of registrations per type table. (only for admin)</p>
<p>Click <a href="{{ url_for('display_table8') }}">here</a> to view the Number of active (registrated) vehicles per brand table. (only for admin)</p>
<p>Click <a href="{{ url_for('display_table9') }}">here</a> to view the Number of cars owned by each party table.</p>
</body>
</html>
